{% extends "travelondesk/travelondesk_list.html" %}
{% load staticfiles %}
{% load i18n %}
{% block menuHref1 %}{% url 'travelondesk:countryDemandTickets' country_shortName %}{% endblock %}
{% block menuHref2 %}{% url 'travelondesk:countryDemandTickets' country_shortName %}{% endblock %}
{% block menuHref3 %}{% url 'travelondesk:countryCategoryDemandTickets' country_shortName category.0 %}{% endblock %}
{% block menuHref4 %}{% url 'travelondesk:countryCategoryDemandTickets' country_shortName category.0 %}{% endblock %}
{% block searchHref %}{% url 'travelondesk:countryDemandTickets' country_shortName %}{% endblock %}
{% block list %}
	  {% for demand in ticket_list %}
	  <div class="well">
		{% if demand.img %}
			<img data-src="holder.js/200x200" class="img-thumbnail" alt="100x100" src="{{ demand.img.url }}" data-holder-rendered="true" style="width: 100px; height: 100px;" align="right">
		{% endif %}
		<h4 class="ticket-name"><a href="{% url 'travelondesk:demandDetail' demand.id %}"><strong>{{ demand.name }}</strong></a></h4>
		<small><a href="{% url 'travelondesk:countryCategoryDemandTickets' country_shortName demand.category %}"><em>{{ demand.get_category_display }}</em></a></small>
		<small><p>{{ demand.pubDate }}</p></small>
		<p align="justify">{{ demand.description }}</p>
		{% if demand.coast %}
			<p>{% trans "Coast: " %}{{ demand.coast }}</p>
		{% endif %}
		{% if demand.country %}
			<p class="place"><small>{{ demand.place }}</small></p>
		{% endif %}
	  </div>		
	  {% endfor %}
{% endblock %}